.shop-container{
    /* background-color: slategrey; */
    /* color: aqua; */
    /* color: white;
    display: grid;
    grid-template-columns: 4fr 1fr; */

}

.mainTwoContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "leftSiDe leftSiDe leftSiDe rightSide"
    "leftSiDe leftSiDe leftSiDe rightSide"
    "leftSiDe leftSiDe leftSiDe rightSide"
    ;
}

.select-title{
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: 90px;
}

.carts-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 4px 90px;
    grid-area: leftSiDe;
}
.sidebar-container{
    position: absolute;
    right: 0;
    width: 260px;
    background-color: darkslateblue;
    border-radius: 5px;
    padding: 20px;
    grid-area: rightSide;
}


.person-detalis{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    border-radius: 5px;
    color: darkslateblue;
    font-weight: 600;
    width: 100%;
    gap: 0;
}
.break-seconds{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 800;
    color: darkslateblue;
    background-color: lightblue;
    border-radius: 5px;
    font-weight: 600;
}
.excercise-time{
    display: flex;
    justify-content: space-around;
    color: darkslateblue;
    background-color: lightblue;
    border-radius: 5px;
    font-weight: 600;
}
.break-time{
    display: flex;
    justify-content: space-around;
    color: darkslateblue;
    background-color: lightblue;
    border-radius: 5px;
    font-weight: 600;
}
.all-time{

}
.btn-activity{
    margin-top: 10px;
    background-color: lightblue;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: slateblue;
    width: 100%;
    font-weight: 800;
}



@media screen and (max-width: 1100px){
    .carts-conatiner{
        grid-template-columns: repeat(2, 1fr);
    }
}