.cart{
    width: 300px;
    height: 510px;
    border: 1px solid royalblue;
    border-radius: 5px;
}
.cart img{
    width: 286px;
    height: 250px;
    border-radius: 5px;
}
.cart-info{
  
}
.cart-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
